body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg {
  padding-bottom: 60%;
  background-size: cover;
}

.name{
  position: absolute;
  color: white;
  width: 36%;
  text-align: left;
  font-size: 10vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 100%;
  margin-left: 13%;
  margin-top: 15%;
  text-shadow: 0 0 7px #fff,
  0 0 18px #FFF41B,
  0 0 40px #FF9F1B,
  0 0 140px #FF611B;
}

.subheading{
  color: #787671;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  position: absolute;
  width:100%;
  text-align: left;
  font-size: .8vw;
  margin-top: 38%;
  margin-left: 13%;
}

.sidebar {
  color:white;
  width: 100%;
  position: absolute;
  text-align: center;
  padding-top: 3%;
}

.nav {
  margin-left: 2%;
  margin-right: 2%;
  color: #787671;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: .7vw;
}

.nav:hover {
  color: white;
  text-shadow: 0 0 7px #fff,
  0 0 18px #FFF41B,
  0 0 40px #FF9F1B,
  0 0 140px #FF611B;
}
/* .nav {
  display: block;
  text-align: left;
  padding: 0;
} */

/* .icon{
  width: 100%;
  display: block;
  margin-top: 200%;
  margin-bottom: 200%;
  margin-right: 0;
} */

.pageName{
  display: inline-block;
  color: white;
  margin-left: 2%;
 
}

.hi {
  color: white;
}